.gradient-background {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(40deg, rgb(108, 0, 162), rgb(0, 17, 82));

  transition: 0.5s;
}

.gradient-background:hover {
  background-position: right center;
}
